node_modules
package-lock.json

# Eleventy build
_dist
_cache
/_src/localStyles
05 - Iteradores e Iterables/Prep_Course_Homework_05-Resuelto.ipynb
.idea/misc.xml
.idea/modules.xml
.idea/Python-Prep.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
